{% extends "uzewiki/base.html" %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}uzewiki/js/edit.js"></script>
{% endblock %}


{% block wiki_menu %}
    {% if show_url %}
    <ul class="wiki_menu_options">
    <li><a href="{{ show_url }}">Show page</a></li>
    </ul>
    {% endif %}
{% endblock %}


{% block wiki_content %}

<form action="." method="POST" class="wiki_form">
{% csrf_token %}

{{ form.wiki }}
{{ form.slug }}
{{ form.non_field_errors }}

<div class="wiki_form_header">
    <p class="wiki_form_save">
        <input type="submit" value="Save" />
    </p>
    <p class="wiki_form_title">
        {{ form.title }}
        {{ form.title.errors }}
    </p>
</div>
<p>
    {{ form.content }}
    {{ form.content.errors }}
</p>

</form>

<script>

</script>

{% endblock %}
