{% extends "uzewiki/base.html" %}

{% block js %}
{{ block.super }}
{% endblock %}


{% block wiki_menu %}
    <ul class="wiki_menu_options">
        <li>
            <form action="{% url "uzewiki-search" wiki_slug=wiki_slug %}" method="GET" class="wiki_form">
            <input type="text" name="q" placeholder="Search" value="{{ search_query }}">
            <input type="submit" value="Go">
            </form>
        </li>
    </ul>
{% endblock %}

{% block wiki_content %}

<ul>
    {% for page in pages %}
        <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
