#
# Developer requirements
#

# Dev tools
black
isort
pip-tools
ruff

# Django
django>=3.2
psycopg2-binary
pillow

# Testing
model_bakery
pytest
pytest-cov
pytest-django

# Docs
sphinx
sphinx-autobuild

# Project (setup.cfg)
django-yaa-settings
beautifulsoup4
docutils
markdown
