.powerwiki__container {
    width: 100%;

    .powerwiki__menu {
        display: flex;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
        padding: 0 1em;

        & > ul {
            flex: 1 1 auto;
            display: flex;

            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;

                a,
                input {
                    display: inline-block;
                    padding: 0 4px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }

            &.powerwiki__menu_breadcrumbs {
                li:before {
                    content: '\00bb';
                    padding-right: 4px;
                }

                li:first-child:before {
                    display: none;
                }
            }

            &.powerwiki__menu_options  {
                flex: 0 0 auto;
                text-align: right;
            }
        }
    }
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
**                                                              Mobile menu
*/

@media all and (max-width:640px) {
    .powerwiki__container {
        .powerwiki__menu {
            flex-direction: column-reverse;
        }
    }
}
