{% extends "base.html" %}


{% block css %}
  {{ block.super }}
{% endblock %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="powerwiki__container">
    <div class="powerwiki__menu">
        {% if breadcrumbs %}
        <ul>
            {% for crumb in breadcrumbs %}
                {% if forloop.last %}
                    <li>{{ crumb.title }}</li>
                {% else %}
                    <li><a href="{{ crumb.url }}" class="wiki{{ crumb.class }}">{{ crumb.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% block wiki_menu %}{% endblock %}
    </div>

    <div class="powerwiki__content">
    {% block wiki_content %}
    {% endblock %}
    </div>
</div>
{% endblock %}
