/******************************************************************************
**                                                              Show styles
*/

.powerwiki__content {
  padding: 0.5em 1em;

  a[data-missing=True] {
    color: red;
    text-decoration-style: dashed;
  }
}
