/******************************************************************************
**                                                              Show styles
*/

body.powerwiki_show .powerwiki__content {
  padding: 0.5rem 1rem;

  .powerwiki__page {
    a[data-missing=True] {
      color: var(--powerwiki-error);
      text-decoration-style: dashed;
    }
  }
}