/*
** Uzewiki styles
*/


/******************************************************************************
**                                                              Menu bar
*/

.wiki_menu {
    width:          100%;
    overflow:       hidden;
    padding:        0.6em 0 1em 0;
    margin:         0;
    margin-bottom:  1em;
    border-bottom:  1px solid #ccc;
    background:     #fff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:    border-box; /* Firefox, other Gecko */
    box-sizing:         border-box; /* Opera/IE 8+ */
}

.wiki_menu ul {
    float:      left;
    list-style: none;
    padding:    0;
    margin:     0;
}

.wiki_menu > ul + ul {
    margin-left:   16px;
}

.wiki_menu li {
    display:        inline-block;
    font-size:      0.8em;
    color:          #666;
    line-height:    24px;
}

.wiki_menu a,
.wiki_menu input,
.wiki_menu li:before {
    color:              #666;
    background-color:   #f8f8f8;
    font-weight:        bold;
    text-decoration:    none;
    
    /* Make submit button same height and line up */
    box-sizing:         content-box;
    -moz-box-sizing:    content-box;
    -ms-box-sizing:     content-box;
    vertical-align:     bottom;
}
.wiki_menu a,
.wiki_menu input {
    display:    inline-block;
    padding:    0 8px;
}
.wiki_menu input:not([type=submit]) {
    background-color:   #fff;
}

.wiki_menu a:hover {
    color:      #000;
    background-color: #fff;
}

.wiki_menu_breadcrumbs a,
.wiki_menu_breadcrumbs li:before {
    padding:    0;
    display:    inline-block;
    border:     1px solid transparent;
    background-color:   transparent;
    font-weight:        normal;
}
.wiki_menu_breadcrumbs a {
    text-decoration:    underline;
}

.wiki_menu_breadcrumbs li:before {
    content:    '\00bb';
    padding-right: 0.3em;
}
.wiki_menu_breadcrumbs li:first-child:before {
    display:    none;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
**                                                              Options menu
*/

.wiki_menu ul.wiki_menu_options {
    float:      right;
}

.wiki_menu ul.wiki_menu_options li {
    margin-left:    1em;
}
.wiki_menu ul.wiki_menu_options a,
.wiki_menu ul.wiki_menu_options input,
.wiki_menu ul.wiki_menu_options li:before {
    height:     24px;
    line-height:    24px;
    margin:     0;
    border:     1px solid #ccc;
}

/******************************************************************************
**                                                              Form
*/

form.wiki_form p input[type="text"],
form.wiki_form p textarea,
form.wiki_form p span.helptext {
    display: block;
}

form.wiki_form p label {
    font-weight:    bold;
}
form.wiki_form p input[type="text"],
form.wiki_form p textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form.wiki_form p span.helptext {
    color: #666;
    font-size: 0.8em;
}



a.wiki.doesnotexist {
    color:  #692e24;
    text-decoration: none;
    border-bottom: 1px dashed #692e24;
}
a.wiki.doesnotexist:hover {
    color:  #a24738;
}

div.wiki_page pre {
    margin-left:    2em;
}
div.wiki_page pre code {
    border: 1px dashed #ccc;
    background: #fffff0;
    padding:    0.5em;
    display: block;
    overflow-x: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}